*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    bo
}

body{
    background: #080808;
    color: #fff;

}

/* Header Section CSS  */

.hr{
    border: 1px solid #ff004f;
    margin: 110px;
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 110px;
}

.logo{
 font-size: 35px;
 text-decoration: none;
 color: #fff;
}

.container{
    padding: 10px 120px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}

nav ul li a:hover::after{
width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

/* About Section CSS  */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.sub-title p{
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.6s;
}

.tab-links.active-link::after{
    width: 100%;
}


.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}



.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 25px #45464726;
    font-size: 16px; 
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ff004f;
  height: .25rem;
  border-radius: .5rem;
  z-index: 100;
}

.skills__smm{
    width: 95%;
  } 
  
  .skills__adv{
  width: 100%;
  }
  
  .skills__sd{
  width: 80%;
  }
  
  .skills__gaw{
  width: 85%;
  }
  .skills__emm{
  width: 75%;
  }



  